html
  head
    title Magic Inkle
    <link rel="stylesheet" href="/style.css">
  body
    h2 Procedurally Generated Inkle Patterns
    <svg width="#{width}px" height="#{height}px">
      each thread in pattern
        - points = thread.points
        - fill = thread.color
        polygon(points=points fill=fill stroke="black")
    </svg>
    
    h3 Colors Used
    ol
      each thread_count, color in colors
        li
          - style = `height:1rem;width:1rem;background-color:${color};display:inline-block;margin-right:5px;border:1px solid black;`
          span(style=style)
          - label = `${color} (${thread_count}x)`
          = label
          
    h3 Warping Pattern
    p Each square represents one thread. The squares with dots go through heddles, the squares without dots do not.
    div
      each thread, index in flat_pattern
        -style = `height:1rem;width:1rem;background-color:${thread};display:inline-block;border:1px solid black;margin-bottom:1rem;text-align:center;vertical-align:center;`
        if index % 2 == 0
          span(style=style)
            - dotstyle = `position:relative;top:-1rem;`
            span(style=dotstyle) &#9679;
        else
          span(style=style) &nbsp;
    
    p Take a screenshot or save this page (right-click, Save as...) to save your pattern.
    p Refresh the page to generate a new pattern.
    
    h2 Credits / Nerd Stuff
    p 
      | The inkle patterns are generated from a grammar built with #[a(href="http://tracery.io/") Tracery] 
      | and the inspiration for these came from #[a(href="http://aspinnerweaver.blogspot.com/") Annie MacHale]
      | who posts lots of beautifully designed inkle patterns free of charge.
      
    p 
      | The colors used should *mostly* match the 
      | #[a(href="https://www.etsy.com/listing/509713035/cotton-yarn-omega-sinfonia-for-weaving") Omega Sinfonia yarn]
      | she sells on Etsy, but matching html colors with a photo is not a science, so there might be some variation.
      
    p This was made with lots of love on <a href="https://glitch.com">Glitch</a>!
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
    
    p Questions, comments, suggestions, cool pictures of bands you made with this? Email me at #[a(href="mailto:ggggbbybby@gmail.com") ggggbbybby@gmail.com] or find me on #[a(href="https://www.ravelry.com/people/ggggbbybby") Ravelry]! 